a:hover{
    color: rgb(165, 11, 11);
}
a:visited{
    color: lime;
}
.style2{
    width: 270px;
    height: 400px;
    float: left;
}
.style{
    border: 3px solid white;
}
.styling{
text-align: center;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 300;
font-size:  50px;
}
.styling1{
float: left;
border: 2px solid white;
padding: 5px;
margin: 10px;
color: white;
width: 90px;

}
.styling2{
padding: 5px;
color: white;
border: 2px solid white;
margin: 10px;
width: 90px;

}
.styling3{
color: white;
border: 2px solid white;
padding: 5px;
margin: 10px;
width: 90px;

}
.styling4{
color: white;
border: 2px solid white;
padding: 5px;
margin: 10px;
width: 260px;
display: flex;
}
.styling5{
color: white;
border: 2px solid white;
padding: 5px;
margin: 10px;
width: 200px;
display: flex;
}
.styling6{
color: white;
text-align: center;
}
.styling7{

}